@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
  font-family: 'Work Sans', sans-serif;
  /* background-image: url("../images/backgrnd.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* margin-right: auto;
  margin-left: auto;
  width: 100%; */
}

/* ****************************************************** */
/* Header and Navigation styles */
/* ***************************************************** */

header {
  background-color:rgb(39, 69, 85);
  min-height: 40px;
  width: 100%
}

.branding {
  margin-top: 5px;
  float: left;
  width: 20%;
}

.branding img {
  max-width: 100px;
  height: 60px;
}

nav {
  margin-top: 10px;
  font-size: 12px;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  float: right;

}

nav li {
  display: inline;
  padding: 0px 13px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: bold;
}

nav .icon {
  display: none;
}

nav a:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
  font-weight: bold;
}

/*****************************************/
/* HOMEPAGE */
/****************************************/

/* showcase */
.showcase {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url('../images/handcuffs.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-top: 15%;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.text {
  width: 50%;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 2px;
  margin: 0px;
  margin-bottom: 4px;
}

.btn-get-start {
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(238, 238, 238);
  background-color: rgb(39, 69, 85);
  font-weight: bold;
  text-decoration: none;
}

.btn-get-start:hover {
  background-color: rgba(26, 51, 65, 0.794);
}

.content .text {
  line-height: 1.2;
  margin-top: 1rem
} 

hr {
	width: 400px;
	border-top: 1px solid rgb(255, 255, 255);
	border-bottom: 1px solid rbga(0,0,0,0.2);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-section {
  width: 90%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 7%;
  padding-left: 15px;
  padding-right: 15px;
  
}

.home-h2 {
  background-color:  rgb(39, 69, 85);
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 10px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

.incident-container-all {
  position: relative;
  width: 24%;
  height: 100%;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 10px;
}

.incident-container-all img {
  width: 100%;
  height: 230px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.read-more {
  text-decoration: none;
  align-self: center;
}

.read-more, .btn-container button {
  padding: 10px 12px;
  border-radius: 20px;
  color: rgb(39, 69, 85);
  cursor: pointer;
  box-shadow:
  inset 2px 1px 2px 2px rgba(0, 0, 0, 0.07), 
  inset -2px -2px 3px rgba(255, 255, 255, 0.767), 
  inset 2px 2px 0px 0px rgba(255, 255, 255, 0.767);
  transition: all 0.2s linear;
}

.read-more, .btn .edit {
  border: 3px solid rgb(39, 69, 85);
}

.read-more:hover, .btn .edit:hover {
  background:  rgb(26, 51, 65);
  color: rgb(238, 238, 238);
}

.location {
  color: rgb(39, 69, 85);
}

.location, .status {
  margin-left: 2%;
}

.location span {
  margin-left: 2%;
}

.location p, .status p {
  margin: 0;
}

.locaton {
  margin: 0px 2%;
}

.comment {
  height: 60%;
  margin-bottom: 10px;
}

.comment h4 {
  text-align: center;
  color: rgb(39, 69, 85);
  font-size: 20px;
  border-bottom: 3px solid rgb(39, 69, 85);
  border-radius: 15px;
  padding: 5px 0px;
  margin: 5px;
}

.comment p {
  color: rgb(39, 69, 85);
  text-align: left;
  padding: 0px 10px; 
}

/*********************************************************/
/* *********SIGN-UP & SIGN-IN ***************************/
/********************************************************/
.form-section {
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  /* border: 3px solid rgb(238, 238, 238);; */
  border-radius: 10px;
  padding-bottom: 10px;
  box-shadow:	
		0pt 2px 5px rgba(105, 108, 109,  0.7),	
		0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
}

#signup-wrapper {
  margin: 4% 30%;
}

#signin-wrapper {
  margin: 0px 34%;
  overflow: hidden;
  margin-top: 4%;
  margin-bottom: 4%;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin-top: 3%;
}

.form-container-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.report-form-container h3 {
  border-bottom: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
}

.form-container span {
  color: rgb(204, 10, 10);
  font-weight: bold;
  font-size: 19px;
}

.form-container h1 {
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 12px 0px;
  background-color: rgb(39, 69, 85);
  border-bottom: 3px solid rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

.input-container {
  width: 100%;
}

.form-container label {
  font-size: 18px;
  line-height: 2rem;
  font-weight: 500;
  color: rgb(39, 69, 85);
  font-weight: bold;
}

.form-container input {
  width: 100%;
  line-height: 30px;
  color: gb(39, 69, 85);
  margin-bottom: 2%;
  border: 3px solid rgb(39, 69, 85);
  border-radius: 15px;
  font-size: 20px;
  padding-left: 3px;
}

.form-primary-btn {
  margin-top: 5%;
  width: 50%;
  line-height: 32px;
  padding: 5px 0px;
  border-radius: 15px;
  border: 3px solid rgb(17, 158, 36);
  background-color: rgb(17, 158, 36);
  color: rgb(255, 255, 255);
  font-size: 25px;
  cursor: pointer;
  box-shadow:
  inset 2px 1px 2px 2px rgba(0, 0, 0, 0.07), 
  inset -2px -2px 3px rgba(255, 255, 255, 0.767), 
  inset 2px 2px 0px 0px rgba(255, 255, 255, 0.767);
  transition: all 0.4s linear;
}

.form-primary-btn:hover {
  color: rgb(255, 255, 255);
  background-color:  rgba(17, 158, 36, 0.575);
}

.form-h4 {
  margin: 20px 0px;
  color: rgb(39, 69, 85);
}

.form-secondary-btn {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2%;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  line-height: 50px;
  background-color: rgb(39, 69, 85);
  border: 2px solid rgb(39, 69, 85);
  padding: 8px 30px;
  margin-right: 15px;
  cursor: pointer;
  box-shadow:
  inset 2px 1px 2px 2px rgba(0, 0, 0, 0.07), 
  inset -2px -2px 3px rgba(255, 255, 255, 0.767), 
  inset 2px 2px 0px 0px rgba(255, 255, 255, 0.767);
  transition: all 0.4s linear;
}

.form-secondary-btn:hover {
  border: 2px solid rgb(39, 69, 85);
  background: rgba(39, 69, 85, 0.575);
}

.repeating-linear {
  height: 50px;
  width: 100%;
  margin: 0px;
  text-align: right;
  background: repeating-linear-gradient(-45deg, 
	rgb(238, 238, 238),
	rgb(238, 238, 238) 15px, 
	rgba(39, 69, 85, 0.479) 15px, 
	rgba(39, 69, 85, 0.479) 30px, 
	rgb(238, 238, 238) 30px
  );
}

/* ****************************************************** */
/* Red-flag and Intervention Form styles */
/* ***************************************************** */

.report-form-container {
  display: flex;
  flex-direction: column;
  margin: 0px 26%;
  margin-top: 3%;
  margin-bottom: 7%;
  border: 3px solid rgb(247, 172, 10);
  border-radius: 8px;
  padding: 0px 10px;
  align-items: center;
  font-weight: 700;
}

.report-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.report-form-container h3 {
  background-color: rgb(78, 136, 11);
  padding: 8px;
  font-size: 25px;
  text-align: center;
}

.report-form-container h3 span {
  background-color: rgb(204, 10, 10);
  padding: 5px;
}

.report-form-container p {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  background-color: rgb(78, 136, 11);
  border-radius: 10px;
  padding: 5px;
  border-bottom: 3px solid rgb(255, 255, 255);
}

.first-checkbox-container {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-container {
  margin: 10px;
}

.checkbox-container input[type=text], textarea {
  width: 60%;
  line-height: 22px;
  color: #FFEEE4;
  margin-bottom: 4%;
  border: 3px solid rgb(247, 172, 10);
  border-radius: 10px;
  font-size: 17px;
  background-color: transparent;
  padding-left: 3px;
}

::placeholder{
  color: rgb(255, 255, 255);
}

.report-button {
  align-self: center;
  margin-top: 10%;
  width: 60%;
  line-height: 32px;
  border-radius: 10px;
  border: 4px solid rgb(78, 136, 11);
  background-color: rgb(78, 136, 11);
  color: rgb(255, 255, 255);
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 6%;
  cursor: pointer;
  box-shadow:
  inset 2px 1px 2px 2px rgba(0, 0, 0, 0.07), 
  inset 2px 2px 0px 0px rgb(255, 255, 255), 
  inset 2px 2px 0px 0px rgb(255, 255, 255);
  transition: all 0.2s linear;
}

.report-button:hover {
 background: transparent;
}

/* ****************************************************** */
/* Red-flag  and intervention */ 
/* ***************************************************** */
.first-incident-container {
  display: flex;
  flex-direction: column;
  margin: 0px 30%;
  margin-top: 3%;
  margin-bottom: 7%;
  font-size: 18px;
  font-weight: 700;
}

.incident-container {
  border-radius: 8px;
  padding-bottom: 2%;
}

.first-incident-container h2 {
  text-align: center;
  background-color: rgb(204, 10, 10);
  border-radius: 10px;
  padding: 10px;
  border-bottom: 3px solid rgb(255, 255, 255);
}

.incident-image-lg img {
  width: 100%;
  height: 300px;
}

.location, .status {
  margin-bottom: 8px;
}

.location span {
  margin-left: 2%;
}

.status span {
  background-color: rgb(255, 255, 255);
  color: rgb(78, 136, 11);
  padding: 4px;
  margin-left: 5%;
}

.status p, .location p {
  margin: 0;
}

.locaton {
  margin: 8px 2%;
}

.comment {
  /* background-color: rgb(247, 172, 10); */
  border-radius: 10px;
}

.comment div {
  text-align: center;
  font-size: 18px;
  background: rgb(247, 172, 10);
  margin-top: 5px;
  padding: 8px;
  border-bottom: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.comment p {
  padding-left: 5px;
  padding-bottom: 5px;
}

.author {
  text-align: center;
  font-size: 15px;
}

.btn-container {
  display: flex;
  width: 100;
  float: right;
}

.btn-container .edit, .button-container .delete {
  padding-left: 25px;
  padding-right: 25px;  
}

.btn {
  margin: 0px 5px;
}

.btn .delete {
  background: rgb(204, 10, 10);
  border: 3px solid rgb(204, 10, 10);
}

.btn .delete:hover {
  background: rgb(240, 64, 64);
  border: 3px solid  rgb(240, 64, 64);
}

/* intervention */
.first-incident-container .h2 {
  text-align: center;
  background-color: rgb(78, 136, 11);
}

/* ****************************************************** */
/* all-red-flag  and intervention style*/
/* ***************************************************** */

.all-red-flag-list-container {
  border: 3px solid rgb(247, 172, 10);
  margin: 0px 18%;
  margin-top: 7%;
  margin-bottom: 7%;
  border-radius: 10px;
}

.all-red-flag-list-container .title-container {
  background: rgb(78, 136, 11);
  text-align: center;
  border-radius: 10px;
  margin: 0;
  font-weight: bold;
  padding-bottom: 3px;
}
.all-red-flag-list-container h2 {
  text-align: center;
  padding: 10px;
  margin: 0;
}

.all-red-flag-list-container .title-container a {
  text-decoration: none;
  font-size: 14px;
  color: rgb(255, 255, 255)
}

.all-red-flag-list-container .title-container a:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
}
.list-anchor {
  text-decoration: none;
}
 .red-flag-list:hover {
  background: rgba(247, 172, 10, 0.897);
}

.red-flag-list {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  background: rgb(247, 172, 10);
  margin-bottom: 8px;
  padding: 15px 4px;
  border-radius: 10px;
  border-bottom: 3px solid rgb(255, 255, 255);
}

.red-flag-list p {
  margin: 0;
}

.group {
  width: 20%;
}

.group .name span {
  color: rgb(78, 136, 11);
  font-weight: bold;
}

.red-flag-list .group {
  margin-left: 5px;
}

.red-flag-list .group .location {
  color: rgb(65, 40, 2);
  font-weight: bold;
}

.draft {
  color: rgba(255, 255, 255, 0.582);
  font-weight: bold;
}

.resolved {
  color: rgb(78, 136, 11);
  font-weight: bold;
}

.none {
  color: rgb(156, 247, 10);
  font-weight: bold;
}

.rejected {
  color: rgb(236, 19, 12);
  font-weight: bold;
}

/* ****************************************************** */
/* Profile */
/* ***************************************************** */
.user-profile {
  margin: 7% 2%;
}

.profile {
  width: 30%;
  float: left;
  display: flex;
  flex-direction: column;
  background-color: rgb(78, 136, 11);
  padding: 10px;
  padding-right: 20px;
  border-radius: 10px;
}

.profile .details {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.profile .user-icon {
  color: rgb(255, 255, 255);
  text-align: center;
}

.profile .edit-profile {
  margin-top: 10px;
}

.profile-record {
  display: flex;
  float: right;
  flex-direction: column;
  background-color: rgb(247, 172, 10);
  padding: 10px;
  border-radius: 10px;
  width: 60%;
}

.profile-record a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.total-record a .circle:hover {
  background: rgb(119, 199, 28);
}
.profile-record h4 a:hover {
  color: rgb(78, 136, 11);
}

.profile-record .total-record{
  align-self: center;
  text-align: center;
}

.profile-record .total-record .circle {
  background-color: rgb(78, 136, 11);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 50px;
  padding: 5px;
}

.profile-record h4 {
  padding: 0;
  margin: 0;
  text-align: center;
}

.profile-record .histroy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-record .histroy h3 {
  margin: 0;
}

.profile-record .histroy .centered {
  text-align: center;
}

/* ****************************************************** */
/* User Red-Flag and Intervention Styles */
/* ***************************************************** */
.user-profile .h2-div {
 display: flex;
 justify-content: center;
}
.user-profile h2 {
  text-align: center;
  background: rgb(247, 172, 10);
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 3px solid rgb(255, 255, 255);
  
}
.profile-record .user-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(78, 136, 11);
  border: 2px solid rgb(78, 136, 11);
  border-radius: 5px;
}

.user-list a .current {
  background: rgb(247, 172, 10);
}

.user-list a .list-1 {
  padding: 10px;
}

.user-list a .list-1:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
}

.red-flag-list:hover {
  background: rgb(221, 153, 6);
}

/* ****************************************************** */
/* Footer styles */
/* ***************************************************** */

footer {
  text-align: center;
  font-size: 14px;
  background-color: rgb(39, 69, 85);
  padding: 10px 0px;
}

footer p {
  margin: 0;
}